assets/client_cert.pem
assets/ML_PrivateKey.pem
assets/server_cert.pem
assets/visasecurity/cert.pem
assets/visasecurity/DigiCertGlobalRootCA.crt
assets/visasecurity/DigiCertGlobalRootCA.pem
assets/visasecurity/privateKey.pem
